<div class="row">
  <div class="col-3">
    <label for="startDate1" class="col3 col-form-label">Seleccionar mes imputación</label>
  </div>
  <div class="col-2">
    <input class="form-control" type="month" name="startDate1" id="startDate1" [(ngModel)]="mesImputacion">
  </div>

  <div class="col-3">
    <label for="startDate2" class="col3 col-form-label">Seleccionar fecha de Asiento</label>
  </div>
  <div class="col-2">
    <input class="form-control" type="date" name="startDate2" id="startDate2" [(ngModel)]="fechaAsiento">
  </div>
</div>
<div class="row">
  <div class="col-2">
    <label for="startDate2" class="col3 col-form-label">Observaciones</label>
  </div>
  <div class="col-9">
    <input class="form-control" type="text" name="startDate2" id="startDate2" [(ngModel)]="observaciones">
  </div>
</div>

<hr>

<h6>DEBE</h6>
<table class="table table-striped table-hover table-sm" id="asientoDiarioDebe">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre Cuenta</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody id="tablaBody">
    <!-- Aquí se agregarán las filas dinámicamente -->
  </tbody>
</table>

<button (click)="agregarFila()">Agregar Fila</button>

<hr>

<h6>HABER</h6>
<table class="table table-striped table-hover table-sm" id="asientoDiarioHaber">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre Cuenta</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody id="tablaBody1">
    <!-- Aquí se agregarán las filas dinámicamente -->
  </tbody>
</table>

<button (click)="agregarFila1()">Agregar Fila</button>