<div class="container">
	<div class="row">
		<div class="col-10">
			<h3>Formulario de Cuentas Contables</h3>
		</div>
		<div class="col-2 d-grid gap-2 d-md-flex justify-content-md-end">
			<a routerLink='/verCuentas' class="btn btn-primary me-md-2" type="button">Ver cuentas</a>
		</div>
	</div>
	<form [formGroup]="cuentasContForm" (ngSubmit)="onSubmit()">
		<div class="form-group row">
			<label for="codigoCuenta" class="col-sm-3 col-form-label">Código de Cuenta:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="codigoCuenta" formControlName="codigoCuenta" placeholder="Ingrese el código de la cuenta - deben ser 2 digitos">
			</div>
		</div>

		<!-- Identificador del error -->
		<div *ngIf="CodigoCuenta?.errors  && CodigoCuenta?.touched">
			<p *ngIf="CodigoCuenta?.hasError('required')" class="text-error">
				El Código de la Cuenta Contable es requerido.
			</p>
			<p *ngIf="CodigoCuenta.errors?.['minlength'] || CodigoCuenta.errors?.['maxlength']" class="text-error">
				El formato de Código de la Cuenta Contable debe ser válido.
			</p>
		</div>


		<div class="form-group row">
			<label for="nombreCuenta" class="col-sm-3 col-form-label">Nombre de la Cuenta:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="nombreCuenta" formControlName="nombreCuenta" placeholder="Ingrese el nombre de la cuenta contable">
			</div>

			<!-- Identificador del error -->
			<div *ngIf="NombreCuenta?.errors  && NombreCuenta?.touched">
				<p *ngIf="NombreCuenta?.hasError('required')" class="text-error">
					El Nombre de la Cuenta Contable es requerido.

			</div>

		</div>

		<div class="form-group row">
			<label for="tipoCuenta" class="col-sm-3 col-form-label">Tipo de Cuenta:</label>
			<div class="col-sm-9">
				<select class="form-control" id="tipoCuenta" formControlName="tipoCuenta">
					<option>Seleccione un tipo de cuenta</option>
					<option>Activo</option>
					<option>Pasivo</option>
					<option>Patrimonio</option>
					<option>Ingresos</option>
					<option>Gastos</option>
				</select>
			</div>

			<!-- Identificador del error -->
			<div *ngIf="TipoCuenta?.errors  && TipoCuenta?.touched">
				<p *ngIf="TipoCuenta?.hasError('required')" class="text-error">
					El Tipo de Cuenta Contable es requerido.
				</p>

			</div>

		</div>
		<div class="form-group row">
			<label for="rubroAsociado" class="col-sm-3 col-form-label">Rubro Asociado:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" list="rubrosList" id="rubroAsociado" formControlName="rubroAsociado" placeholder="Seleccione el Rubro Asociado">

				<datalist id="rubrosList">
					<option *ngFor="let list of rubrosList" [value]="list.nombreRubro">
				</datalist>

			</div>
			<!-- Identificador del error -->
			<div *ngIf="RubroAsociado?.errors  && RubroAsociado?.touched">
				<p *ngIf="RubroAsociado?.hasError('required')" class="text-error">
					El Rubro Asociado es requerido.

			</div>


		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
</div>