<div class="container">
	<h2>Formulario de Rubros</h2>
	<form>
		<div class="form-group row">
			<label for="codigoRubro" class="col-sm-3 col-form-label">Código de Rubro:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="codigoRubro" formControlName="codigoRubro" placeholder="Ingrese el código de rubro - deben ser 2 digitos excepto sea de nivel 1">
			</div>
		</div>
		<div class="form-group row">
			<label for="nombreRubro" class="col-sm-3 col-form-label">Nombre de Rubro:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="nombreRubro" formControlName="nombreRubro" placeholder="Ingrese el nombre de rubro">
			</div>
		</div>
		<div class="form-group row">
			<label for="nivel" class="col-sm-3 col-form-label">Nivel:</label>
			<div class="col-sm-9">
				<select class="form-control" id="nivel" formControlName="nivel">
					<option>Seleccione un nivel</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="tipoCuenta" class="col-sm-3 col-form-label">Tipo de Cuenta:</label>
			<div class="col-sm-9">
				<select class="form-control" id="tipoCuenta" formControlName="tipoCuenta">
					<option>Seleccione un tipo de cuenta</option>
					<option>Activo</option>
					<option>Pasivo</option>
					<option>Patrimonio</option>
					<option>Ingresos</option>
					<option>Gastos</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="rubroSuperior" class="col-sm-3 col-form-label">Rubro Superior:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="rubroSuperior" formControlName="rubroSuperior" placeholder="Ingrese el rubro superior">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</form>
</div>