<div class="center">
  <ngx-file-drop dropZoneLabel="Suelte archivos aquí" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Contenido personalizado opcional que reemplaza todo el contenido
      predeterminado.
      <button type="button" (click)="openFileSelector()">Buscar Archivo</button>
    </ng-template>
  </ngx-file-drop>
  <hr />
  <div class="row" *ngIf="data">
    <div class="col-2">
      <label for="startDate1" class="col2 col-form-label">Seleccionar mes imputación</label>
    </div>
    <div class="col-3">
      <input class="form-control" type="month" name="startDate1" id="startDate1" [(ngModel)]="fechaDeInicio">
    </div>
  </div>

  <div class="upload-table" *ngIf="data">
    <table class="table table-striped table-hover table-sm" id="importFactCompras">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo Comprobante</th>
          <th>Controlador Fisc.</th>
          <th>Punto de venta</th>
          <th>Nº comprobante</th>
          <th>Nº comp. registrado</th>
          <th>Cantidad de Hojas</th>
          <th>Tipo Doc. Emisor</th>
          <th>Nº Doc. Emisor</th>
          <th>Denominación Emisor</th>
          <th>Total operación</th>
          <th>Total no gravado</th>
          <th>Total gravado</th>
          <th>Total IVA liq.</th>
          <th>Perc. no categ.</th>
          <th>Total op. exentas</th>
          <th>Pago cuenta impuestos nacionales</th>
          <th>Perc II.BB.</th>
          <th>Perc Imp. municipales</th>
          <th>Impuestos Internos</th>
          <th>Transporte</th>
          <th>Tipo Responsable</th>
          <th>Cód. Moneda</th>
          <th>Tipo Cambio</th>
          <th>Cód. Alicuota IVA</th>
          <th>Cód. operación</th>
          <th>CAE</th>
          <th>Fecha venc. CAE</th>
          <th>Fecha anulación comp.</th>
          <th>Cuenta Contable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.fecha }}</td>
          <td>{{ item.tipo_comprobante }}</td>
          <td>{{ item.controlador_fiscal }}</td>
          <td>{{ item.punto_venta }}</td>
          <td>{{ item.n_comprobante }}</td>
          <td>{{ item.n_comprobante_registrado }}</td>
          <td>{{ item.cant_hojas }}</td>
          <td>{{ item.cod_tipo_doc_receptor }}</td>
          <td>{{ item.n_documento_receptor }}</td>
          <td>{{ item.nombre_receptor }}</td>
          <td>{{ item.imp_total_operacion.toFixed(2) }}</td>
          <td>{{ item.imp_total_no_gravado.toFixed(2) }}</td>
          <td>{{ item.imp_neto_gravado.toFixed(2) }}</td>
          <td>{{ item.impuesto_liquidado_iva.toFixed(2) }}</td>
          <td>{{ item.percepcion_no_categorizados.toFixed(2) }}</td>
          <td>{{ item.importe_op_exentas.toFixed(2) }}</td>
          <td>{{ item.importe_pago_cuenta_imp_nac.toFixed(2) }}</td>
          <td>{{ item.importe_perc_ii_bb.toFixed(2) }}</td>
          <td>{{ item.importe_perc_imp_municipales.toFixed(2) }}</td>
          <td>{{ item.importe_imp_internos.toFixed(2) }}</td>
          <td>{{ item.transporte.toFixed(2) }}</td>
          <td>{{ item.tipo_responsable }}</td>
          <td>{{ item.cod_moneda }}</td>
          <td>{{ item.tipo_cambio.toFixed(6) }}</td>
          <td>{{ item.cod_alicuota_iva }}</td>
          <td>{{ item.cod_operacion }}</td>
          <td>{{ item.cae }}</td>
          <td>{{ item.fecha_venc_cae }}</td>
          <td>{{ item.fecha_anulacion_comp }}</td>
          <!-- falta fila de cuenta, luego de implementar el servicio -->
          <td><select class="form-select" aria-label="Default select example">
            <option *ngFor="let c of cuenta">{{ c.nombreCuenta }}</option>
            
          </select></td>
        </tr>
      </tbody>
    </table>


  </div>
  <hr *ngIf="data">

  <button (click)="obtenerValoresDeTabla()" class="btn btn-primary mb-3" *ngIf="data">Guardar</button>
</div>