<div class="center">
  <ngx-file-drop dropZoneLabel="Suelte archivos aquí" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Arrastre aquí o pulse el botón Buscar Archivo.
      <button type="button" (click)="openFileSelector()">Buscar Archivo</button>
    </ng-template>
  </ngx-file-drop>
  

  <hr *ngIf="data">

  <div *ngIf="data">
    <div class="row">
      <div class="col-3">
        <label for="mesImputacion" class="col3 col-form-label">Seleccionar mes imputación</label>
      </div>
      <div class="col-2">
        <input class="form-control" type="text" name="fechaImputacion" id="fechaImputacion" [value]="datePipe.transform(fechaImputacion, 'dd/MM/yyyy')">
      </div>
    
      <div class="col-3">
        <label for="fechaAsiento" class="col3 col-form-label">Seleccionar fecha de Asiento</label>
      </div>
      <div class="col-2">
        <input class="form-control" type="text" name="fechaAsiento" id="fechaAsiento" [value]="datePipe.transform(fechaAsiento, 'dd/MM/yyyy')">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="observaciones" class="col3 col-form-label">Observaciones</label>
      </div>
      <div class="col-9">
        <input class="form-control" type="text" name="observaciones" id="observaciones" [value]="observaciones">
      </div>
    </div>


    <h6>DEBE</h6>
    <table class="table table-striped table-hover table-sm" id="asientoDiarioDebe">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre Cuenta</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody id="tablaBody">
        <tr *ngFor="let item of dataDebe">
          <td>{{ item.codificacion }}</td>
          <td>{{ item.descCuenta }}</td>
          <td>{{ item.importe }}</td>
        </tr>
      </tbody>
    </table>

    <h6>HABER</h6>
    <table class="table table-striped table-hover table-sm" id="asientoDiarioHaber">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre Cuenta</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody id="tablaBody1">
        <tr *ngFor="let item of dataHaber">
          <td>{{ item.codificacion }}</td>
          <td>{{ item.descCuenta }}</td>
          <td>{{ item.importe }}</td>
        </tr>
      </tbody>
    </table>

    <hr>

<div class="row">
  <div class="col-2">
    <label for="debe"> Total Debe</label>
  </div>
  <div class="col-3">
    <input type="text" [value]="totalDebe" readonly>
  </div>

  <div class="col-2">
    <label for="haber"> Total Haber</label>
  </div>
  <div class="col-3">
    <input type="text" [value]="totalHaber" readonly>
  </div>
</div>

<hr>

<button (click)="guardar()" class="btn btn-primary mb-3">Guardar</button>

  </div>
</div>
