<div class="center">
  <ngx-file-drop dropZoneLabel="Suelte archivos aquí" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Arrastre aquí o pulse el botón Buscar Archivo.
      <button type="button" (click)="openFileSelector()">Buscar Archivo</button>
    </ng-template>
  </ngx-file-drop>
  <hr />
  <div class="row" *ngIf="data">
    <div class="col-2">
      <label for="startDate1" class="col2 col-form-label">Seleccionar mes imputación</label>
    </div>
    <div class="col-3">
      <input class="form-control" type="month" name="startDate1" id="startDate1" [(ngModel)]="fechaDeInicio">
    </div>
  </div>

  <div class="upload-table" *ngIf="data">
    <table class="table table-striped table-hover table-sm" id="importFactCompras">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Punto de venta</th>
          <th>Nº desde</th>
          <th>Nº hasta</th>
          <th>Cód. Autorización</th>
          <th>Tipo Doc. Emisor</th>
          <th>Nº Doc. Emisor</th>
          <th>Denominación Emisor</th>
          <th>Tipo Cambio</th>
          <th>Moneda</th>
          <th>Imp. Neto Gravado</th>
          <th>Imp. Neto No Gravado</th>
          <th>Imp. Op. Exentas</th>
          <th>IVA</th>
          <th>Imp. Total</th>
          <th>Cuenta Contable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.fecha }}</td>
          <td>{{ item.documento }}</td>
          <td>{{ item.p_venta }}</td>
          <td>{{ item.n_desde }}</td>
          <td>{{ item.n_hasta }}</td>
          <td>{{ item.cod_autoriz }}</td>
          <td>{{ item.doc_emisor }}</td>
          <td>{{ item.n_emisor }}</td>
          <td>{{ item.denominacion }}</td>
          <td>{{ item.tc }}</td>
          <td>{{ item.moneda }}</td>
          <td>{{ item.neto_gravado }}</td>
          <td>{{ item.neto_no_gravado }}</td>
          <td>{{ item.op_exentas }}</td>
          <td>{{ item.iva }}</td>
          <td>{{ item.total }}</td>
          <!-- falta fila de cuenta, luego de implementar el servicio -->
          <td><select class="form-select" aria-label="Default select example">
            <option *ngFor="let c of cuenta">{{ c.nombreCuenta }}</option>
            
          </select></td>
        </tr>
      </tbody>
    </table>


  </div>
  <hr *ngIf="data">

  <button (click)="obtenerValoresDeTabla()" class="btn btn-primary mb-3" *ngIf="data">Guardar</button>
</div>

<hr *ngIf="facturasRepet">

<h4 *ngIf="facturasRepet">Documentos repetidos</h4>

<div class="upload-table" *ngIf="facturasRepet">
  <table class="table table-striped table-hover table-sm" id="factRepetidas">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Punto de venta</th>
        <th>Nº desde</th>
        <th>Nº hasta</th>
        <th>Cód. Autorización</th>
        <th>Tipo Doc. Emisor</th>
        <th>Nº Doc. Emisor</th>
        <th>Denominación Emisor</th>
        <th>Tipo Cambio</th>
        <th>Moneda</th>
        <th>Imp. Neto Gravado</th>
        <th>Imp. Neto No Gravado</th>
        <th>Imp. Op. Exentas</th>
        <th>IVA</th>
        <th>Imp. Total</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of facturasRepet">
        <td>{{ item.fecha_factura }}</td>
        <td>{{ item.documento }}</td>
        <td>{{ item.p_venta }}</td>
        <td>{{ item.n_desde }}</td>
        <td>{{ item.n_hasta }}</td>
        <td>{{ item.cod_autoriz }}</td>
        <td>{{ item.doc_emisor }}</td>
        <td>{{ item.n_emisor }}</td>
        <td>{{ item.denominacion }}</td>
        <td>{{ item.tc }}</td>
        <td>{{ item.moneda }}</td>
        <td>{{ item.neto_gravado }}</td>
        <td>{{ item.neto_no_gravado }}</td>
        <td>{{ item.op_exentas }}</td>
        <td>{{ item.iva }}</td>
        <td>{{ item.total }}</td>
        
      </tr>
    </tbody>
  </table>


</div>