<div class="center">
  <div class="row">
    <div class="col-1">
      <label for="formato" class="col3 col-form-label">Formato</label>
    </div>
    <div class="col-2">
      <select class="form-select form-select-sm" type="text" name="formato" id="formato" [(ngModel)]="formato">
        <option selected>Seleccionar formato</option>
        <option value="1">Excel</option>
        <option value="2">PDF</option>
      </select>
    </div>
  
    
    <div class="col-2">
      <label for="modelo" class="col3 col-form-label">Modelo Banco</label>
    </div>
    <div class="col-2">
      <select class="form-select form-select-sm" type="text" name="modelo" id="modelo" [(ngModel)]="modelo">
        <option selected>Seleccionar Modelo</option>
        <option value="1">Banco de Entre Ríos (Bersa)</option>
        <option value="2" id="ocultar">Banco Macro</option>
        <option value="3">Banco Santander Río</option>
        <option value="4">Banco Galicia</option>
        <option value="5">Banco Supervielle</option>
        <option value="6">Banco Nación</option>
        <option value="7">Banco Credicoop</option>
        <option value="8">Banco Patagonia</option>
        <option value="9" id="ocultar">Banco Itaú</option>
        <option value="10">Banco HSBC</option>
        <option value="11" id="ocultar">Banco Ciudad</option>
        <option value="12" id="ocultar">Banco Provincia de Buenos Aires</option>
        <option value="13" id="ocultar">Banco ICBC</option>
        <option value="14" id="ocultar">Banco Comafi</option>
        <option value="15" id="ocultar">Banco Piano</option>
        <option value="16" id="ocultar">Banco de la Provincia de Córdoba</option>
        <option value="17" id="ocultar">Banco San Juan</option>
        <option value="18" id="ocultar">Banco Santa Cruz</option>
        <option value="19">Banco Santa Fe</option>
        <option value="20">MercadoPago</option>
      </select>
    </div>
    <div class="col-1">
      <label for="cuenta" class="col3 col-form-label">Cuenta</label>
    </div>
    <div class="col-2">
      <select class="form-select form-select-sm" type="text" name="cuenta" id="cuenta" [(ngModel)]="selecCuenta">
        <option selected>Seleccionar cuenta</option>
        <option *ngFor="let item of cuenta">{{item.nombreCuenta}}</option>        
      </select>
    </div>

    <div class="row" >
      <div class="col-3">
        <label for="startDate1" class="col2 col-form-label">Seleccionar mes imputación</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="month" name="startDate1" id="startDate1" [(ngModel)]="fechaDeInicio">
      </div>
    </div>

  </div>
  <hr>
  <ngx-file-drop dropZoneLabel="Suelte archivos aquí" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Arrastre aquí o pulse el botón Buscar Archivo.
      <button type="button" (click)="openFileSelector()">Buscar Archivo</button>
    </ng-template>
  </ngx-file-drop>

  <hr>

  <div *ngIf="data">

    <table class="table table-striped table-hover table-sm" id="movBancarios">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Referencia</th>
          <th>Importe</th>
          <th id="ocultar">Cuenta</th>
        </tr>
      </thead>
      <tbody id="tablaBody">
        <tr *ngFor="let item of data">
          <td>{{ item.fecha }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.referencia }}</td>
          <td>{{ item.importe }}</td>
          <td><select class="form-select" aria-label="Default select example">
          <option *ngFor="let c of cuenta">{{ c.nombreCuenta }}</option>
            
          </select></td>
        </tr>
      </tbody>
    </table>

    <hr>

    <button (click)="guardar()" class="btn btn-primary mb-3">Guardar</button>
  </div>

</div>